.flip-card {
    background-color: transparent;
    width: 25vw;
    height: 50vh;
    perspective: 1000px;
    font-family: sans-serif;
    }
.targeta h4 {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    }
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front {
    background-color: rgb(152, 173, 180);
    z-index: 2;
}
.front h4 {
    margin-top: 2em;
}

.back {
    background-color: rgb(144, 182, 144);
    transform: rotateY(180deg);
}
.flip-card-inner img {
    max-width: 40vh;
}
.targeta p {
    margin-left: 2em;
    margin-right: 2em;
}