@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
    }
body {
    margin: 0;  
}
p, a {
    font-size: 20.8px;
    font-weight: 100;

}
#nav_bar {
    position: fixed;
    z-index: 10;
    height: 50%;
    width: 100%;
}

.nav span{
    width: 100%;
    height: 3em;
    background-color: #000000;
}

footer {
    background-color: grey;
    display: flex;
    flex-direction: row;
    height: 20vh;
    position: relative;
    align-items: center;
    align-content: center;
}
footer .centre {
    position: relative;
    align-items: center;
    align-content: center;
    left: 50%;
}
footer .logo img {
    width: 5vh;
}
footer .contacte {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;

}
footer .logos {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
footer .logo {
    margin-left: 1em;
}
/*
footer .logos img {
    mix-blend-mode: color-burn;
}
*/