:root {
    --centrar-transofrm: transform: translate(-50%, -50%);
    --lletra-xl: 
}

.contingut2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.contingut {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align:center;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.658);
    width: 40vw;
    height: 35vh;
    border-radius: 7%;
}
.h1h2 {
    margin-top: -4em;
}
.contingut h1 {
    font-size: 7em;
    font-weight: bolder;
}
.contingut h2{
    font-size: 2em;
    margin-top: -2em;
}

.imgfons{
    width: 100%;
    height: 100%;
}

.slider {
    overflow: hidden;
    width: 99vw;
    height: 100vh;
    position: relative;
}


.slider .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        animation: slide 30s infinite;
    }
    
    .slider .slide:nth-child(1) {
        background-image: url('./FOTOS/Fotos_Exteriors/03-Jardí.JPG');
        animation-delay: -0;
    }
    
    .slider .slide:nth-child(2) {
        background-image: url('./FOTOS/Fotos_Zones_comuns_i_Detalls/DSC2662.JPG');
        animation-delay: -6s;
    }
        
    .slider .slide:nth-child(3) {
        background-image: url('./FOTOS/FOTO_DRON_2016/DJI_0022.JPG');
        animation-delay: -12s;
    }
        
    .slider .slide:nth-child(4) {
        background-image: url('./FOTOS/Fotos_Habitacions/07-Habitació\ 5.jpg');
        animation-delay: -18s;
    }
    
    .slider .slide:nth-child(5) {
        background-image: url('./FOTOS/Fotos_Exteriors/01-Piscina.jpg');
        animation-delay: -24s;
    }
    
    @keyframes slide {
        0%, 15%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
        }
        20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
        }
        95% {
        transform: translateX(100%);
        animation-timing-function: ease;
        }
    }

article:nth-child(1) {
    background-color: #919191;
}
.cont2 {
    position: relative;
    color: #FFFFFF;
    height: 50vh;
    height: 40vh;
}
.cont2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont2 h3{
    font-size: 3em;
    
}
.cont2 p{
    font-size: 1.3em;
    margin-left: 2em;
}


article:nth-child(2) {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.targeta {
    margin: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}
